@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  @apply font-sans;
}

/* Optional: Improve text rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: Improve media responsiveness */
img,
video {
  max-width: 100%;
  height: auto;
}

/* Optional: Set default font family */
body {
  @apply font-sans;
}
